.group {
    margin: 5px;
}

.label {
    /* background-color: yellow; */
    margin: 5px;
}

.control {
    background-color: red;
    margin: 5px;
}

.form-container {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: cornflowerblue; */
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.todolist {
    margin: 5px;
}

body {
    background: #b0b0b0;
}

.center {
    display: flex;
    justify-content: center;
}