.landingContainer {
    /* height: auto; */
    /* background: red; */
    width: 95%;
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
    color: rgb(223, 204, 204);
  }

  .matchBtn {
    border: 2px solid #000000;
    color: rgb(223, 204, 204);
    margin-top: 2em;
    border-radius: 50px;
    background: #000000;

  }
  .matchBtn:hover {
    border: 2px solid #496bff;
    border-radius: 50px;
    background: #496bff;
  }
  .tag {
    text-align: center;
  }
  
  .col {
    margin-top: 5em;
    margin-bottom: 5em;
  }
  .coverImg {
    object-fit: contain;
    width: 90%;
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  